<!DOCTYPE HTML>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div id="chat"></div>
<input id="chat-input" type="text"> <button onclick="sendMessage()">Send Message</button>

</body>

<script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
    integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
    crossorigin="anonymous"></script>
<script>

	const socket = io("https://jinrogmtest.herokuapp.com")
	function sendMessage () {
		socket.emit("message",document.getElementById("chat-input").value)
	}
	socket.on("new_message",(data)=>{
		document.getElementById("chat").innerHTML+="<br>"+data;
	})

</script>

</html>