<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ポコの部屋</title>
</head>
<body>
<h1>ポコの独り言</h1>
<p>世界中の人が見ることができるので、プライバシーに関わるな会話はNGだよ</p>
<input id="chat-input" type="text">
<button onclick="sendMessage()">送信</button>

<div id="chat"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">

  const socket = io()
	function sendMessage() {
		socket.emit("message", document.getElementById("chat-input").value)
	}
	socket.on("new_message", (data) => document.getElementById("chat").innerHTML+= "<br>" + data)
</script>
</body>
</html>