<!DOCTYPE HTML>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div id="chat"></div>
<input id="chat-input" type="text"> <button onclick="sendMessage()">Send Message</button>

</body>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/app.js"></script>
<script>

    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
	function sendMessage () {
		socket.emit("message",document.getElementById("chat-input").value)
	}
	socket.on("new_message",(data)=>{
		document.getElementById("chat").innerHTML+="<br>"+data;
	})

</script>

</html>